<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Progress Bar</h4>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        [attr.ariaValueNow]="progressBlue
                        " aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        [style.width]="getProgressBlue"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                        [attr.ariaValueNow]="progressGreen" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        [style.width]="getProgressGreen"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-numericUpDown (valueChange)="progressBlue
                 = $event" legend="Progress Blue" [progress]="progressBlue
                "></app-numericUpDown>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-numericUpDown (valueChange)="progressGreen = $event" legend="Progress Green" [progress]="progressGreen"></app-numericUpDown>
            </div>
        </div>
    </div>
</div>