<div class="row" >
    <div class="col-6" *ngFor="let chart of charts | keyvalue">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-doughnut-chart 
                        [data]="chart.value.data" 
                        [labels]="chart.value.labels" 
                        [type]="chart.value.type"
                        [legend]="chart.value.legend"
                        [options]="chart.value.options || { responsive: true }">
                        </app-doughnut-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>