<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-doughnut-chart [data]="charts.chart1.data" [labels]="charts.chart1.labels" [type]="charts.chart1.type" [legend]="charts.chart1.legend">
                        </app-doughnut-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-doughnut-chart [data]="charts.chart2.data" [labels]="charts.chart2.labels" [type]="charts.chart2.type" [legend]="charts.chart2.legend">
                        </app-doughnut-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-doughnut-chart [data]="charts.chart3.data" [labels]="charts.chart3.labels" [type]="charts.chart3.type" [legend]="charts.chart3.legend">
                        </app-doughnut-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div>
                    <div>
                        <app-doughnut-chart [data]="charts.chart4.data" [labels]="charts.chart4.labels" [type]="charts.chart4.type" [legend]="charts.chart4.legend">
                        </app-doughnut-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>